/**
 * file: css/style.css
 **/

body {
    font-family: "Montserrat";
    color: #16293e;
}
html, body, main {
    width: 100%;
    margin: 0; 
}


h2 {
    font-size: 16px;
}

/***********************************************
***************** Profilside ******************/
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    width: 100%
}

#profileMain {
    padding: 60px;
    /*tells the element to include padding in its sizing*/
    box-sizing: border-box;
}

#profileMain a {
   text-decoration: none;
    color: black;
    
}

#profileMenu {
    border: 1px solid #ec9335;
    list-style: none;
    margin: 0;
    margin-right: 20px;
    padding: 30px 60px;
}

#profileMenu a {
    display: block;
    margin: 10px;
    padding: 10px;
}

#profileContent {
    /* Flex: 1 makes the content as wide as it can be in its parent */
    flex: 1;
}

#achievements {
    background-color: #16293E;
    width: 900px;
    margin-bottom: 60px;
    padding: 20px;
}

#achievements h2 {
    color: white
}

#achievements ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement {
    background-color: white;
    height: 70px;
    width: 70px;
    margin: 10px 30px;;
    border-radius: 50%;
}

.go-to-btn {
    background-color: white;
    padding: 10px;
    border: 1px solid;
    transform: translateY(40px);
}

#stepsBox {
    background-color: #3FAC4E;
    padding: 20px;
}

#stepsInput {
    margin: 10px 0;
}

#saveBtn {
    background-color: #ec9335;
    padding: 8px 20px;
    color: white;
    border: none;
    margin-left: 10px;
}

#weatherBox {
    background-color: #D4D4D4;
    border: 1px solid #ec9335;
    padding: 20px;
    flex: 1;
    margin-left: 60px;
}


/***********************************************
***************** Betalingsside ***************/
#heading {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2em;
}

#firma {
    display: block;
    float: left;
    margin-left: 30%;
}

#navn {
    width: 120%;
}

#fortsat {
    display: block;
    float: right;
    margin-right: 32%;
}

#adresse {
    width: 120%;
}
 /*
button {
    border: none;
    width: 20em;
    height: 10em;
    background-color: #54595f;
    color: #ffffff;
}
*/
/***********************************************
***************** Forside***************/
body{
    background-image: url(..//images/g%C3%A5tur.jpg);
    
}

/***********************************************
***************** Log ind ***************/


{box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}